# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

lib/buulm_web/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
buulm-*.tar

# Temporary files, for example, from tests.
/tmp/

.DS_Store

# The directory Mix will write compiled artifacts to.
/buulm_site/_build/

# If you run "mix test --cover", coverage assets end up here.
/buulm_site/cover/

# The directory Mix downloads your dependencies sources to.
/buulm_site/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/buulm_site/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/buulm_site/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/buulm_site/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/buulm_site/*.ez

# Temporary files, for example, from tests.
/buulm_site/tmp/

# Ignore package tarball (built via "mix hex.build").
/buulm_site/buulm_site-*.tar

# Ignore assets that are produced by build tools.
/buulm_site/priv/static/assets/

# Ignore digested assets cache.
/buulm_site/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
/buulm_site/npm-debug.log
/buulm_site/assets/node_modules/

/buulm_site/.elixir_ls

node_modules/
